---
import RegisterForm from '../components/RegisterForm.astro';
import '../styles/main.css';
import Navbar from '../components/NavBar.astro';

---
<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <Navbar/>
    <h1>Register</h1>
    <RegisterForm />
  </body>
</html>
